<div class="backnew">
<%= link_to 'Back', admin_index_path %>
</div>

<div class="xhr_book_info" >
	<p><%= @book.title %> is currently checkedout by <%= @user.username %> It's due to be returned on <%= @checkout.due_date %></p> 
</div>

