<a href="#" class="button success" data-options="align:right" data-dropdown="drop">Your Books &raquo;</a>
  <ul id="drop" class="large f-dropdown" data-dropdown-content>
    <% if @user_checkouts.length == 0 %>
      <li>You need to read more!</li>
    <%else%>
      <% @user_checkouts.each do |checkout| %>
        <li><%= link_to 'View Details', book_path(checkout.id) %><strong><%= checkout.title %></strong></li>
      <%end%>
    <%end%>  
  </ul>