.one_book {
  max-width: 260px;
  max-height: 342px;
  position: absolute;
  top: 245px;
  left: 30px;
}

.user_name {
    position: relative;
    height: 50px;
    width: 210px;
    top: 30px;
    left: 0px;
    text-align: center;
}

.checkout_button{
  padding-left: 0px;
  padding-right: 200px;
  width: 75%;
}

.book_details h5 {
  font-family: "Roboto";
  font-size: 2.5em;
  line-height: 3.35em;
  position: relative;
  height: 35px;
  top: -3px;
  left: 153px;
  text-align: left;
}

.book_details h3  {
  font-family: "Roboto";
  font-size: 1.7em;
  line-height: 3.35em;
  position: relative;
  height: 35px;
  top: 20px;
  left: 119px;
  text-align: left;
}
.book_details h4 {
  font-family: "Roboto";
  font-size: 2.5em;
  line-height: 3.35em;
  position: relative;
  height: 35px;
  top: -3px;
  left: 560px;
  text-align: left;
}

.book_details p {
  color: #778899;
  font-family: "Roboto";
  font-size: 2.5em;
  line-height: 3.35em;
  position: relative;
  height: 35px;
  top: 50px;
  left: 20px;
  text-align: left;
}

#bookSearch {
  padding: 10px;
  width: 90%;
  box-sizing: border-box;
  margin-left: 50px;
  margin-top: 95px;
}


.span_holder {
  position: relative;
  margin-left: 20px;
  margin-top: 250px;
}

.ratings {
  margin-top: -180px;
  margin-left: 20px; 
}

.orange {
  color: #f7be7a; 
  font-size: 3.5em;
  font-family: "Josefin Slab", serif;
  line-height: 1.35em; 
}

.blue {
  color: #67bde9; 
  font-size: 3.5em;
  font-family: "Josefin Slab", serif;
  line-height: 1.35em; 
}


.purple {
  position: absolute;
  color: #bd4de9;
  font-size: 3.5em;
  font-family: "Josefin Slab", serif;
  line-height: 1.35em;
  margin-left: 0px;
  margin-top: -74px;
}

.good_reads p {
 font-family: "Roboto";
  font-size: 25px;
  line-height: 26px;
  margin-top: -5px;
  padding-left: 30px;
  padding-right: 30px;
  text-indent: 195px;
}

.good_reads {
  position: relative;
  font-family: "Roboto";
  font-size: 25px;
  line-height: 26px;
  position: absolute;
  margin-top: -40px;
  padding-left: 30px;
  padding-right: 30px;
  text-indent: 210px;
}

.book {
  margin-left: 40px;
  margin-top: 75px;
}

.pagination {
  visibility: hidden;
}

